.controlsRoot {
  color: #e2e8f0;
}

.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px 0 0;
}

@media (min-width: 961px) {
  .controls {
    flex-direction: row;
  }
}

@media (max-width: 720px) {
  .controls :global(.button) {
    width: 100%;
    justify-content: center;
  }
}
